# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node
node_modules/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/

# Scratch & Temporary
scratch/
*.tmp

# Keys & Secrets
keysafe*
id_*
*.key
*.pem
*.pub
